{% extends 'base.html' %}
{% block title %}关于我们{% endblock %}
{% block xiala %}
{% endblock %}
  {% block na %}
<ul class="nav navbar-nav">
  <li ><a href="{{ url_for('testa') }}">首页</a></li>
  <li><a href="{{ url_for('add') }}">新建todo</a></li>
  <li><a href="{{ url_for('comment') }}">论坛</a></li>
  <li class="active"><a href="{{ url_for('about') }}">关于</a></li>
</ul>
{% endblock %}
{% block body %}
<div align="center" style="margin-top: 60px">
  <img src="{{ url_for('static', filename='image/1.jpg') }}">
</div>
<div class="img-circle" style="margin-top: 10px">
<img src="https://cdn.pixabay.com/photo/2018/11/20/17/29/sunrise-3827841__340.jpg">
<img src="https://cdn.pixabay.com/photo/2016/09/19/08/08/leaf-1679736__340.jpg">
<img src="https://cdn.pixabay.com/photo/2017/08/22/19/37/coffee-2670190__340.jpg">
<img src="https://cdn.pixabay.com/photo/2017/11/02/15/26/river-wharfe-2911469__340.jpg">
<img src="https://cdn.pixabay.com/photo/2017/10/26/13/42/morning-2891123__340.jpg">
<img src="https://cdn.pixabay.com/photo/2015/12/14/17/16/morning-1092771__340.jpg" width="420px" height="338px">
</div>
{% endblock %}